.accordion {
  background-color: #3c3489;
  padding: 2rem;
}

.accordion-heading {
  font-size: var(--step-2);
  color: #cecbf6;
}

.panel {
  background-color: #26215c;
  color: #afa9ec;
  margin: 2rem 0;
  padding: 1rem;

  border-radius: var(--radius);
}

.panel-toggle {
  background-color: #26215c;
  color: #afa9ec;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.panel-content.open {
  max-height: 1000px;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron-open {
  transform: rotate(180deg);
}
