.cv-preview {
  background-color: #fff;
  color: #444441;
}

.cv-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  padding: 2rem;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
---------------
Name & Title
---------------
*/

.cv-name-and-title-wrapper {
  padding: 2rem;
  background-color: #0c447c;
}

.cv-name {
  font-size: var(--step-4);
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0.5rem;
  color: #e6f1fb;
}

.cv-title {
  font-size: var(--step-1);
  color: #b5d4f4;
  background-color: #185fa5;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

/*
---------------
Contact, Summary, Education, Experience
---------------
*/

.cv-info-title {
  text-transform: uppercase;
  font-size: var(--step-1);
  font-weight: 400;
  letter-spacing: 2px;
  color: #185fa5;
}

.cv-contact-info-wrapper,
.cv-summary,
.cv-education-info,
.cv-work-info {
  padding: 0 2rem;
  border-left: 2px solid #e6f1fb;
}

.cv-icon-and-contact-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.contact-icon {
  color: #378add;
}

.cv-degree,
.cv-job-title {
  color: #0c447c;
}

.cv-year {
  color: #378add;
  font-weight: 500;
}

.cv-individual-education-wrapper:not(:last-of-type),
.cv-individual-work-wrapper:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.cv-divider {
  grid-column: 1 / -1; /* span all columns */
  border: none;
  border-top: 1px solid #e6f1fb;
  margin: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    margin: 0;
  }

  body {
    background-color: white;
  }

  header,
  .accordion {
    display: none;
  }

  .accordion-and-cv-preview-wrapper {
    display: block;
  }

  .cv-preview {
    position: static;
    width: 100vw;
    height: auto;
    min-height: unset;
  }

  .cv-grid {
    min-height: unset;
    height: auto;
  }

  .cv-individual-work-wrapper,
  .cv-individual-education-wrapper {
    break-inside: avoid;
  }
}

@media (max-width: 500px) {
  .cv-grid {
    grid-template-columns: 1fr;
  }

  .cv-contact-info-wrapper,
  .cv-summary,
  .cv-education-info,
  .cv-work-info {
    padding: 0;
    border-left: none;
  }
}
